@import "./font-families.scss";

@font-face {
  font-family: "Lato";
  src: url(https://fonts.gstatic.com/s/lato/v14/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff');
  font-weight: normal;
  font-style: normal;
}