@import "common.scss";

.card__vote{
  background-color: var(--color-darker-background);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  font-size: 15px;
  font-weight: 400;
  padding: 10px 20px;
}

.card--list .card__vote{
  @include desktop {
    font-size: 18px;
  }
}